@charset "UTF-8"; 

body{
    background-color: cornsilk;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

h1{
    color: darkkhaki;
    background-color: lightyellow;
    text-decoration: underline;
}

h2{
    color: blue;
}

p{
    text-align: center;
}