@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-image: linear-gradient(to bottom, #FA64B4, #E04FE3);
    background-attachment: fixed;
}

p {
    text-align: justify;
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #511c1edb;
    width: 600px;
    padding:10px; 
    margin: auto;

}

h1 {
    color: #E34F54;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #FD6F58;
}

